

.section-p1 {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.section-p1 .carac-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(139, 40, 139);
    border: 1px solid aqua;
    border-radius: 4px;
    margin: 15px 0;

}
.section-p1 .carac-box:hover {
    box-shadow: 10px 10px 54px rgb(139, 40, 139);
}

.section-p1 .carac-box img {
    width: 100%;
    margin-bottom: 10px;
}

.section-p1 .carac-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: aqua;
    background-color: rgb(139, 40, 139);

}

