
.cartItem{
    width: 24%;
   
    padding: 10px 12px;
    border: 1px solid aqua;
    border-radius: 25px;
    cursor: pointer;
    background-color: black;
    box-shadow: 20px 20px 30px rgb(139, 40, 139);
    margin: 15px 0;
    transition: 0.2s ease;
    color: aqua;
    max-height: 700px;
    justify-content: center;
    
    
}

.cartItem img{
    width: 100%;
    border-radius: 20px;
    max-height: 350px;
}
.cartContentContainer {
  
}